* {
  padding:0;
  margin:0;
}
body {
  background-color: #E5E5E5;
  font-family: verdana,arial,sans-serif,helvetica;
}
ul {
  display: flex;
}
li {
  list-style: none;
  font-size: 12px;
  color: white;
}
li a {
  color: white;
  text-decoration: none;
}
.nav-top a:hover {
  text-decoration: underline;
}
.nav li a:hover {
  color: #003996;
}
.container {
  max-width: 801px;
  margin: auto;
}
.header button {
  margin-left: 7px;
  padding: 2px;
  background-color: #E2FFFF;
  border-radius: 0;
}

.header {
  height: 145px;
  background-color: #003996;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav {
  margin: 0;
  padding: 10px;
  background-color: #6899C9;
  justify-content: center;
}

.nav-top {
  margin-top: 5px;
  padding: 0 5px;
  justify-content: space-between;

}
.inner-container {
  padding: 20px;
  background: white;
}
.sidebar {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
}
.profile {
  display: flex;
}
.profile ul, .contact-lists ul {
  flex-direction: column;
}
.profile-info {
  display: flex;
  padding-left: 20px;
  flex-direction: column;
  justify-content: space-between;
}
.profile-info li {
  color: black;
}
.view-my {
  margin: 10px 0;
  font-size: 12px;
}
.contact .name {
  background-color: #6899C9;
  padding: 2px;
  padding-left: 10px;
  color: white;
}
.contact-lists {
  display: flex;
  justify-content: space-around;
  border: 2px solid #6899C9;
}

.profile-link {
  margin-top: 10px;
  padding: 0 3px;
  border: 2px solid #6899C9;
  font-size: 12px;
}
.interests {
  background-color: #6899C9;
  margin-top: 10px;
  border: 2px solid #6899C9;
}
.interests h5 {
  color: white;
  font-size: 12px;
  margin-left: 15px;
  padding: 3px;
}
.interests .interest-item {
  display: flex;
  border-top: 2px solid white;
  border-bottom: 1px solid white;
}
.interests .interest-item .type {
  flex: 1.4;
  padding: 5px;
  border-right: 3px solid white;
  background-color: rgb(177, 208, 240);
  font-size: 10px;
}
.interests .interest-item .info {
  flex: 3;
  padding: 5px;
  background-color: rgb(213, 232, 251);
  font-size: 12px;
}
.interests .interest-item .info ul {
  flex-direction: column;
}
.interests .interest-item .info li {
  color: black;
}
.interests .interest-item .info li a {
  color: #003996;
  font-weight: bold;
}
